# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
app.db*
.env*
config.py

# Generated version file
_version.py

# setuptools-scm artifacts
*.egg-info/
dist/
build/

# Development version files
.setuptools-scm-info.json

# Scripts
scripts/

# Docker and Docker Compose files
build.sh
docker-compose-dev.yml

# build artifacts
build/

# Logs
logs/

# VSCode Files
.idea/

# DS_Store files
.DS_Store*