# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
app.db*
.env*
config.py

# Generated version file
_version.py

# setuptools-scm artifacts
*.egg-info/
dist/
build/

# Development version files
.setuptools-scm-info.json

# Tests for now
tests/

# Scripts
scripts/