# =============================================================================
# requirements.txt
# =============================================================================

aiocache
aiohappyeyeballs
aiohttp
aiosignal
alembic
arrow
attrs
blinker
certifi
cffi
click
cryptography
defusedxml
fastkml
Flask
Flask-Migrate
Flask-SQLAlchemy
frozenlist
gunicorn
gevent
idna
itsdangerous
Jinja2
lxml
Mako
MarkupSafe
multidict
paho-mqtt
propcache
psutil
psycopg2-binary
pycparser
pygeoif
PyMySQL
pytak
python-dateutil
python-dotenv
PyYAML
setuptools
setuptools-scm
six
SQLAlchemy
types-python-dateutil
Werkzeug
yarl
hypercorn[uvloop,h2,quic]
watchdog